@media all and (min-width : 1024px){
    .body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: none;
        padding: 10px;
        justify-content: center;
    }
}

@media all and (min-width : 768px) and (max-width : 1024px){
    .body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: none;
        padding: 10px;
        justify-content: center;
    }
}

@media all and (min-width : 320px) and (max-width : 768px){
    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: none;
        padding: 10px;
        justify-content: center;
    }
}

.body .container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.body img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
}

.container {
    position: relative;
}

.centered {
    position: absolute;
    width : 100%;
    text-align: center;
    color: white;
    top : 80%;
}

.centerIcon {
    position : absolute;
    width : 70px;
    height : 70px;
    border-radius : 40px;
    border : 2px solid black;
    background-color: white;
    top : 45%;
    left : 39%;
    display : flex;
    justify-content : center;
    padding : 5px;
}